<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="msvalidate.01" content="8B1B49BDE2C31CE35B3C83A32A03023E" />
    <meta name="google-site-verification" content="sNO28twbR83Hc--Yf5BwO6wrODJQAZonV3bQiN7hwh8" />
    <meta name="description" content="{{ site.description }}">
    
    <meta name="copyright" content="Copyright 2015 LockFeed, Inc. All rights reserved." />

    <meta property="og:type" content="website">
    <meta property="og:image" content="http://lockfeed.co/twittercard.jpg" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ site.description }}" />
    
    <meta name="author" content="LockFeed">
    
    <meta name="twitter:card" content="app">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:site" content="@LockFeedApp">
    <meta name="twitter:creator" content="@LockFeedApp">
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:app:name:googleplay" content="LockFeed: Your News Lock Screen">
    <meta name="twitter:app:id:googleplay" content="com.skiptu.android">
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.skiptu.android">
    <meta name="twitter:image:src" content="http://lockfeed.co/twittercard.jpg">
    <meta property="fb:app_id" content="585268638250437" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-transluscent">
    <meta name="apple-mobile-web-app-title" content="LockFeed">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="icon" href="favicon.ico">

    <link rel="canonical" href="http://lockfeed.co/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- Facebook Conversion Code for Page View -->
    <script>
    (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6020424983250', {
        'value': '0.00',
        'currency': 'USD'
    }]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020424983250&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" />
    </noscript>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include header.html %}
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %} {% include scripts.html %} {% include googleanalytics.html %}

</body>

</html>
