<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="LockFeed is an app that transforms your lockscreen into a personalized news magazine.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LockFeedApp">
    <meta name="twitter:creator" content="@LockFeedApp">
    <meta name="twitter:title" content="LockFeed">
    <meta name="twitter:description" content="LockFeed is an app that transforms your lockscreen into a personalized news magazine.">
    <meta name="twitter:image:src" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-transluscent">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="google-site-verification" content="sNO28twbR83Hc--Yf5BwO6wrODJQAZonV3bQiN7hwh8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="/_bower_components/photoswipe/dist/default-skin/default-skin.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>

<body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include header.html %}
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %} {% include scripts.html %} {% include googleanalytics.html %}

</body>

</html>
