<footer>
    <div class="container">
        <nav>
            <ul class="">
                <li><a href="https://play.google.com/store/apps/details?id=com.skiptu.android">Download</a>
                </li>
                <li><a href="https://medium.com/@LockFeed">Blog</a>
                </li>
                <li><a href="mailto:info@skiptu.com?Subject=LockFeed%20Support">Support</a>
                </li>
                <li><a href="mailto:info@skiptu.com?Subject=LockFeed%20Jobs">Jobs</a>
                </li>
                <li><a href="http://skiptu.com/privacy">Privacy</a>
                </li>
            </ul>
        </nav> 
    </div>
</footer>
