@import "h5bp.scss";
@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-semibold-webfont.eot');
    src: url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-semibold-webfont.woff2') format('woff2'),
         url('proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
$fontBody: "Merriweather","Georgia", Cambria, serif;
$fontHeadings: "Proxima Nova", "Montserrat", "Helvetica Neue", "Helvetica",Arial, sans-serif;
$red: #E12828;
$black: #222422;
html, body {
    height: 100%;
}
body {
    font: 16px/1 $fontBody;
    color: #222422;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #fff;
}
a, a:hover {
    text-decoration: none;
    color: #E12828;
}
p a {
    color: #E12828;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: circle;
    list-style-position: inside;
}
a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
b, strong {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
blockquote {
    padding-left: 15px;
    border-left: 3px solid #eee;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeadings;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.08em;
}
p {
    font: 22px/1.7 $fontBody;
}
.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
.list-unstyled, .list-inline {
    list-style: none;
}
.list-inline {
    display: inline;
}
footer {
    
    width: 100%;
    font-family: $fontHeadings;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    background-color: $black;
    text-align: center;
    padding: 20px 0 20px 0;
    ul {
    	 
        li {
          	display: block;
            font-size: 1.4em;
            list-style: none;
            line-height: 1.625em;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
@media(min-width:700px) {
    footer {
    	position: absolute;
    	bottom: 0;
        ul li{
        	display: inline;
        	margin-right:10px;
        }
        ul li:last-child{
        	margin-right: 0;
        }
        
    }
}
header {
    display: block;
    margin: 0 auto;
    width: 100%;
    .logo {
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }
}
